<section class="contact section" id="contact">
    <h2 class="section-title">Contacto</h2>

    <div class="contact__container bd-grid" style="text-align: center;">
        <!-- <form action="" class="contact__form">
            <input type="text" placeholder="Nombre (No funcional)" class="contact__input">
            <input type="mail" placeholder="Correo (No funcional)" class="contact__input">
            <textarea name="" placeholder="(No funcional)" id="" cols="0" rows="4" class="contact__input"></textarea>
            <input type="button" value="Enviar" class="contact__button button">
        </form> -->

        <p><i class='bx bx-mail-send'></i> jeffry.pardo01@unicatolica.edu.co</p>
        <p><i class='bx bx-mail-send'></i> jeffryjhoan1996@gmail.com</p>
        <p><i class='bx bxl-whatsapp'></i> 3022318153</p>
    </div>
</section>