<div class="grid-layout">
    <div class="success-message" *ngIf="isSubmitted">
        ¡Mensaje enviado con éxito!
    </div>
    <div class="contact-container">

        <h1>Contáctame</h1>

        <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" class="contact-form">
            <input type="text" formControlName="name" placeholder="Tu Nombre" />
            <input type="email" formControlName="email" placeholder="Tu Email" />
            <textarea formControlName="message" placeholder="Tu Mensaje"></textarea>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
