<section class="about section " id="about">
    <h2 class="section-title">Sobre mí</h2>

    <div class="about__container bd-grid">
        <div class="about__img">
            <img src="https://raw.githubusercontent.com/JefryPardo/img/master/jeffd.png" alt="">
        </div>
        
        <div>
            <h2 class="about__subtitle"> Jefry &#x2615;</h2>
            <p class="about__text">Hola, me llamo Jefry. Tengo 25 años y, entre otras muchas cosas, soy desarrollador de software, nací en el departamento del Valle del Cauca y actualmente vivo en él. Desde pequeño un gran curioso y apasionado por el conocimiento. Me gusta preguntarme y entender todo, por más simple y lógico parezca.
            </p>           
        </div>                                   
    </div>
</section>


