<header class="l-header" id="home">
  <nav class="bd-grid navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">JefryPardo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav nav__list">
            <li class="nav__item"><a href="#home" class="nav__link">Inicio</a></li>
            <li class="nav__item"><a href="#about" class="nav__link">Sobre mí</a></li>
            <li class="nav__item"><a href="#skills" class="nav__link">Habilidades</a></li>
            <li class="nav__item"><a href="#job" class="nav__link">Trabajo</a></li>
            <li class="nav__item"><a href="#contact" class="nav__link">Contacto</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>