<section class="contact section" id="job">
    <h2 class="section-title">Trabajo</h2>

    <div class="contact__container bd-grid" style="text-align: justify;">
        <img style="padding: 20px;" src="https://raw.githubusercontent.com/JefryPardo/imgMaquetado/main/cropped-logo-tucompra-color4x%402x.png" alt="">
            <p class="about__text" style="padding: 20px;">
                Hoy en día me encuentro trabajando en una pasarela de pago, en el área de ingeniería. Hago uso de varias tecnologías y entre ellas está Java con Spring Boot, Angular con PrimeNG y entre otras. 
            </p>  
            <p class="about__text" style="padding: 20px;">
                Si estás iniciando un proyecto o ya tienes toda la infraestructura y quieres comenzar a vender, Tu Compra Payment es una empresa caleña con una infraestructura robusta que te permite hacer transacciones con la seguridad que tu modelo de negocio requiere. <a href="https://tucompra.com.co/">Tu Compra Payment.</a>
            </p>  
    </div>
</section>






<!-- <section class="work section" id="Exercises">
    <h2 class="section-title">Trabajo</h2>

    <div class="work__container bd-grid">
        <div>
            <img src="https://raw.githubusercontent.com/JefryPardo/imgMaquetado/main/cropped-logo-tucompra-color4x%402x.png" alt="">
            <p class="about__text">Hola, me llamo Jefry. Tengo 25 años y, entre otras muchas cosas, soy desarrollador de software, nací en el departamento del Valle del Cauca y actualmente vivo en él. Desde pequeño un gran curioso y apasionado por el conocimiento. Me gusta preguntarme y entender todo, por más simple y lógico parezca.
            </p>           
        </div> 
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Navbar</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
    </div>
</section> -->