<section class="work section" id="Exercises">
    <h2 class="section-title">Ejercicios</h2>

    <div class="work__container bd-grid">
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Navbar</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
        <div class="work__img">    
            <div class="contenedor">
                <a href="https://codepen.io/jefrypardo/full/yLgJJKj"><img class="blur" src="https://raw.githubusercontent.com/JefryPardo/img/master/navbar.PNG" alt=""><div class="centrado"><h2>Por asignar.</h2></div></a>               
                
            </div>      
        </div>
    </div>
</section>