.home{
    height: calc(100vh - 3rem);
    row-gap: 1rem;
    margin-top: 30px;
}

.home__data{
    align-self: center;
}

.home__title{
    font-size: var(--big-font-size);
    margin-bottom: var(--mb-5);
}

.home__title-color{
    color: var(--first-color);
}
.home__social{
    display: flex;
    flex-direction: column;
}
.home__social-icon{
    width: max-content;
    margin-bottom: var(--mb-2);
    font-size: 1.5rem;
    color: var(--second-color);
}
.home__social-icon:hover{
    color: var(--first-color);
}
.home__img{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 295px;
}

@media screen and (min-width: 768px){
    body{
      margin: 0;
    }  
    .home{
      height: 100vh;
    }
    .home__data{
      align-self: flex-end;
    }
    .home__social{
      padding-top: 0;
      padding-bottom: 2.5rem;
      flex-direction: row;
      align-self: flex-end;
    }
    .home__social-icon{
      margin-bottom: 0;
      margin-right: var(--mb-4);
    }
    .home__img{
      width: 400px;
      bottom: 10%;
      right: 10%;
    }
  }
  
