<section class="home bd-grid">
    <!-- fadeInDown -->
        <div class="home__data animated ">
            <h1 class="home__title">Hola,<br>soy <span class="home__title-color">Jefry</span><br><h2> y soy</h2> desarrollador.</h1>
            <a href="#contact" class="button">Contacto</a>
        </div>
<!-- fadeInLeft -->
        <div class="home__social animated ">
            <a href="https://www.linkedin.com/in/jeffry-johan-pardo-alzate-492129228" class="home__social-icon"><i class='bx bxl-linkedin'></i></a>
            <a href="https://codepen.io/jefrypardo" class="home__social-icon"><i class='bx bxl-codepen' ></i></a>
            <a href="https://github.com/JefryPardo/portafolio-JefryPardo" class="home__social-icon"><i class='bx bxl-github' ></i></a>
        </div>
<!-- fadeInRight -->
        <div class="home__img animated ">    
            <img src="https://raw.githubusercontent.com/JefryPardo/img/master/undraw_Freelancer_re_irh4.png" alt="">
        </div>
</section>