<h1 class="titulo-skills">Lo que más disfruto usar</h1>
<div class="skills-container">
    <img class="meditando" src="/assets/img/meditando.png"/>
    <div class="skill-floating skill-java">Java</div>
    <div class="skill-floating skill-angular">Angular</div>
    <div class="skill-floating skill-spring_boot">Spring Boot</div>
    <div class="skill-floating skill-typescript">Typescript</div>
    <div class="skill-floating skill-sql">SQL</div>
    <div class="skill-floating skill-linux">Linux</div>
    <div class="skill-floating skill-ukelele">Ukelele</div>
    <div class="skill-floating skill-illustrator">Adobe Illustrator</div>
    
    <div class="circles-wrapper">
        <div class="circle-aura aura-1"></div>
        <div class="circle-aura aura-2"></div>
        <div class="circle-aura aura-3"></div>
        <div class="circle-aura aura-4"></div>
        <div class="circle-aura aura-5"></div>
        <div class="circle-aura aura-6"></div>
        <div class="circle-aura aura-7"></div>
    </div>
</div>

<div class="skills-container-movil">
  <div class="skills-movil-wrapper">
    <img class="meditando-movil" src="/assets/img/meditando.png" />
    <div class="skill-floating-movil skill-java-movil">Java</div>
    <div class="skill-floating-movil skill-angular-movil">Angular</div>
    <div class="skill-floating-movil skill-spring_boot-movil">Spring Boot</div>
    <div class="skill-floating-movil skill-typescript-movil">Typescript</div>
    <div class="skill-floating-movil skill-sql-movil">SQL</div>
    <div class="skill-floating-movil skill-linux-movil">Linux</div>
    <div class="skill-floating-movil skill-ukelele-movil">Ukelele</div>
    <div class="skill-floating-movil skill-illustrator-movil">Adobe Illustrator</div>
  </div>
</div>
