<section class="skills section" id="home_">
    <h2 class="section-title">Habilidades</h2>

    <div class="skills__container bd-grid">          
        <div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-java bx-tada skills__icon'></i>
                    <span class="skills__name">Java</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Bajo.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon' ></i>
                    <span class="skills__name">JavaScript / TypeScript</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-git bx-tada skills__icon'></i>
                    <span class="skills__name">Git</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <img src="https://raw.githubusercontent.com/JefryPardo/img/master/undraw_Operating_system_re_iqsc.png" alt="" class="skills__img">
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-html5  skills__icon'></i>
                    <span class="skills__name">Html</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-github  skills__icon'></i>
                    <span class="skills__name">Github</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='far fa-window-maximize bx-tada  skills__icon'></i>
                    <span class="skills__name">Terminal</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-react  skills__icon'></i>
                    <span class="skills__name">React</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Bajo.</span>
                </div>
            </div>
        </div>
        
        <div>              
            <img src="https://raw.githubusercontent.com/JefryPardo/img/master/undraw_online_resume_re_ru7s.png" alt="" class="skills__img">
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-python bx-tada skills__icon'></i>
                    <span class="skills__name">Python</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-ubuntu skills__icon' ></i>
                    <span class="skills__name">Ubuntu Server</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-adobe skills__icon'></i>
                    <span class="skills__name">Adobe</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxs-coin-stack bx-tada skills__icon' ></i>
                    <span class="skills__name">Sql</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-codepen skills__icon'></i>
                    <span class="skills__name">Codepen</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-bootstrap skills__icon'></i>
                    <span class="skills__name">Bootstrap</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-angular bx-tada skills__icon'></i>
                    <span class="skills__name">Angular</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fas fa-guitar skills__icon'></i>
                    <span class="skills__name">Ukelele</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Bajo.</span>
                </div>
            </div>
        </div>
    </div>
</section>
