<section class="skills section" id="skills">
    <h2 class="section-title">Habilidades</h2>

    <div class="skills__container bd-grid">          
        <div>
            <h2 class="skills__subtitle">&#x269b;&#xfe0f;&#x269b;&#xfe0f;&#x269b;&#xfe0f;&#x269b;&#xfe0f;</h2>
            <p class="skills__text">Tecnologías con las que tengo experiencia mediante proyectos y ejercicios de forma autodidacta.</p>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='fab fa-java skills__icon'></i>
                    <span class="skills__name">Java</span>
                </div>
                <div class="skills__bar skills__alto">

                </div>
                <div>
                    <span class="skills__percentage">Alto.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-css3 skills__icon'></i>
                    <span class="skills__name">CSS3</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Bajo.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-javascript skills__icon' ></i>
                    <span class="skills__name">JavaScript / TypeScript</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
            <div class="skills__data">
                <div class="skills__names">
                    <i class='bx bxl-git skills__icon'></i>
                    <span class="skills__name">Git</span>
                </div>
                <div class="skills__bar skills__alto">
                    
                </div>
                <div>
                    <span class="skills__percentage">Medio.</span>
                </div>
            </div>
        </div>
        
        <div>              
            <img src="https://raw.githubusercontent.com/JefryPardo/img/master/undraw_Project_completed_re_pqqq.png" alt="" class="skills__img">
        </div>
    </div>
    <a [routerLink]="['/allSkills']" class="button">Ver más habilidades.</a>
</section>